# ============================================
# Node / Next.js
# ============================================
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

.next/
out/
build/

# Cobertura de testes
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*
logs/
*.log

# Arquivos de ambiente
.env*
!.env.example

# Tipos do TypeScript
*.tsbuildinfo
next-env.d.ts

# ============================================
# IDEs e Editores
# ============================================
# VSCode
.vscode/

# JetBrains (WebStorm, IntelliJ)
.idea/

# Sublime
*.sublime-project
*.sublime-workspace

# Vim
*.swp
*.swo

# ============================================
# Arquivos do Sistema
# ============================================
# macOS
.DS_Store

# Linux
*~

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# ============================================
# Caches e Temporários
# ============================================
.cache/
.parcel-cache/
.npm/
*.tmp
*.temp

# ============================================
# Outros
# ============================================
.vercel
*.pem
